body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #bcd7f1;
  color: #333;
}

header {
  background-color: #f3f1f7;
  color: rgb(38, 38, 38);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  color: rgb(38, 38, 38);
  margin-left: 1rem;
  text-decoration: none;
}

nav .btn {
  background-color: #8106f5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-left: 1rem;
}

.hero {
  text-align: left;
  padding: 2rem 2rem;
  background: linear-gradient(to right, #5b04ab, #0077cc);
  color: white;
}
h1{
  font-size: 4rem;
  margin: 4rem;

}
p{
  font-size: 1.5rem;
  margin: 4rem;
}

.hero-buttons .btn,
.hero-buttons .btn-outline {
  margin: 4rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  background-color: white;
  color: #8106f5;
}

.btn-outline {
  border: 2px solid white;
  color: white;
}

.grid-section {
  padding: 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #004080;
  color: white;
}
